.chat-main
 .main-header
  .main-header__left-box
   %h2(class="main-header__left-box__current-group" data-group_id="16370")
    test
   %ul(class="main-header__left-box__member-list")
    Member：
    %li(class="main-header__left-box__member-list__member")<masa
  %a(href="/groups/16370/edit")
  = link_to root_path, class: 'link' do
   .main-header__edit-btn>Edit
 .messages
 .form
  %form(class="new_message" id="new_message" enctype="multipart/form-data" action="/groups/16370/messages" accept-charset="UTF-8" method="post")
   %input(name="utf8" type="hidden" value="✔︎")
   %div(class="input-box")
    %input(placeholder="type a message" class="input-box__text" type="text" name="message[content]" id="message_content")
    %label(class="input-box__image" for="message_image")
     %i(class="fa fa-image")
     %input(class="input-box__image__file" type="file" name="message[image]" id="message_image")
   %input(type="submit" name="commit" value="Send" class="submit-btn" data-disable-with="Send")