%div.chat-side

 %div.side-header
  %div.side-header__box
   %p.side-header__box__user-name<masa
   %ul.side-header__box__menu
    %li.side-header__box__menu__new-group
     %a(href="/groups/new")
      %i(class="fa fa-edit")
     %li(class="side-header__box__menu__edit-user")
     %a(href="/users/11900/edit")
      %i(class="fa fa-cog")
   
 
 
 .groups
  %a(href="/groups/16121/messages")
   .group
    %p(class="group-name")techcamp
    %p(class="group__latest-message")<まだメッセージはありません


