.chat-side

  .side-header
    .side-header__box
      %p.side-header__box__user-name<masa
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
        %a(href="/groups/new")
        = link_to root_path, class: 'link' do
          %i(class="fa fa-edit")
        %li(class="side-header__box__menu__edit-user")
        %a(href="/users/11900/edit")
        = link_to root_path, class: 'link' do
          %i(class="fa fa-cog")
   


  .groups
    %a(href="/groups/16121/messages")
    = link_to root_path, class: 'link' do
      techcamp
      %p まだメッセージはありません
    .group
      %p(class="group-name")
      %p(class="group__latest-message")


