* {
  box-sizing: border-box;
}

.chat-side {
  width: 300px;
  color: white;
  float: left;

  .side-header__box__menu {
    display: flex;
  }

  .side-header__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }

  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .side-header__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.chat-side {
  .side-header__box__menu {
    display: flex;
  }

  a {
    color: white;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-side {
  .side-header__box__menu {
    display: flex;
  }

  a {
    color: white;
  }

  .side-header__box__menu li {
    margin-left: 0.3rem;
  }

  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;

  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  }

  .main-header__left-box {
    margin-top: 35px;
  }

  .main-header a {
    &:visited, &:hover, &:active {
      color: #38aef0;
    }

    color: #38aef0;
  }

  .main-header__edit-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
  }

  .main-header a {
    &:visited, &:hover, &:active {
      color: #38aef0;
    }

    color: #38aef0;
  }

  .main-header__left-box__current-group {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

.chat-main {
  .main-header__left-box__member-list {
    display: flex;
    font-size: 12px;
    color: #999999;
  }

  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  }

  .main-header__left-box {
    margin-top: 35px;
  }

  .main-header a {
    &:visited, &:hover, &:active {
      color: #38aef0;
    }
  }

  .main-header__edit-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px #38aef0;
    position: absolute;
    right: 40px;
  }

  .main-header__left-box__member-list {
    display: flex;
    font-size: 12px;
    color: #999999;
    display: flex;
    font-size: 12px;
    color: #999999;
  }

  .main-header__left-box {
    margin-top: 35px;
  }

  .main-header {
    a {
      &:visited, &:hover, &:active {
        color: #38aef0;
      }
    }

    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  }

  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
  }

  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
  }
}

input, textarea, select {
  *font-size: 100%;
}

.chat-main .form {
  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}

input, textarea, select {
  *font-size: 100%;
}

.chat-main .form form {
  .input-box__text {
    height: 50px;
    width: 100%;
    padding: 0 40px 0 10px;
    color: #434a54;
    border-style: none;
  }

  .input-box__image {
    font-size: 1.3rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-main .form form .input-box__image__file {
  display: none;
}

input, textarea, select {
  *font-size: 100%;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.chat-main .form {
  form {
    .input-box__image__file {
      display: none;
    }

    .input-box__image {
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .input-box {
      position: relative;
      width: 100%;
    }

    .submit-btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
    }

    display: flex;
  }

  height: 90px;
  padding: 20px 40px;
  background-color: #ddd;
}

html {
  color: #000;
  background: #FFF;
}